<!DOCTYPE html>
<html>
	<head>
		<title>Identity login by email view</title>
	</head>
	<body>
		<form method="post" action="">
			<h2>Login using User</h2>
			<fieldset>
				<label class="id-trusted">
					User:
					<input name="email" type="text" placeholder="Username or email..." />
				</label>
				<label class="id-trusted">
					Password:
					<input name="password" type="password" placeholder="Password..." />
				</label>
				<input type="submit">Sign In</input>
			</fieldset>
		</form>
	</body>
</html>
